#clocktower {
    width: 100%;
}

#clocktower > .logo{
    width: 80px;
    transform: translate(-6%, -14%);
    pointer-events: none;
}


#clocktower > text{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    paint-order: stroke;
    stroke: #00364a;
    stroke-width: .5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-size: 25px;
    fill: white;
}

#clocktower > text:hover{
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

#clocktower > line{
    stroke-width: 5;
    stroke: #dde6f0;
    opacity: 1;
}

.countdown{
    z-index: 25;
    position: absolute;
    top: calc(70px + 15vw);
    width: 9%;
}

#days{
    right: 24%;
}

#hours{
    right: 13%;
}

#mins{
    right: 2%;
}

.countdown-number{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-anchor: middle;
    fill: white;
}

.units{
    fill: white;
    stroke: #00364a;
    stroke-width: 0.3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
}

.countdown .static{
    fill: black;
    opacity: 0.3;
}

.countdown .dynamic{
    stroke-dasharray: 225.7%;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 3px;
    fill: none;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#days .dynamic{
    animation: countdown 86400s linear infinite forwards;
    stroke: #B4A6FF;
}

#hours .dynamic{
    animation: countdown 3600s linear infinite forwards;
    stroke: #30ffa4;
}

#mins .dynamic{
    animation: countdown 60s linear infinite forwards;
    stroke: #FFEE5C;
}
  
@keyframes countdown{
    0%{
        stroke-dashoffset: 0%;
    }
    100%{
        stroke-dashoffset: 225.7%;
    }
}

.curr, .next{
    display: none;
    z-index: 25;
    position: absolute;
    top: calc(70px + 15vw);
    width: calc(60px + 20vw);
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.curr p, .next p{
    font-family: 'Montserrat', 'sans-serif';
    color: #eeeeee;
    opacity: 1;
    padding: 2vw;
    font-size: calc(6px + 1.2vw);
}

.curr a, .next a{
    cursor: pointer;
    text-decoration: underline;
}

.curr .programmes-link{
    color: #61FFF0;
}

.next .posters-link{
    color: #BC61FF;
}

.next .gallery-link{
    color: #6261FF;
}

#displayWrapper{
    display: flex;
    align-items: flex-start;
    height: auto;
    background: linear-gradient(90deg,
    white 0 19.7%,
    #dde6f0 19.7% 20.3%,
    white 20.3% 100%);
}

#contentWrapper{
    width: 98%;
    height: auto;
}

#contentWrapper .circle{
    width: 25%;
    height: 100px;
    z-index: 80;
}

#contentWrapper > .header{
    display: flex;
    align-items: center;
    margin: 10% 0px 2% 0px;
}

#contentWrapper > .header > span{
    display: inline-block;
    color: #0a2540;
    line-height: normal;
    width: 75%;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: calc(22px + 0.7vw);
    font-weight: bold;
    padding: 0 10px;
}

#contentWrapper > .content{
    display: flex;
    position: relative;
    z-index: 90;
    width: 95%;
    margin-left: 20px;
    padding: 20px;
    border: 2px solid #dde6f0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 0px 4px white;
}

#contentWrapper > div:last-child{
    margin-bottom: 50px;
}

#contentWrapper > .content > div{
    display: inline-block;
    width: 25%;
    margin: auto;
}

#contentWrapper > .content > div > img{
    display: block;
    width: 100%;
    border-radius: 10px;
    margin: auto;
}

#contentWrapper > .content > span{
    display: flex;
    width: 70%;
    border-left: 1px solid #dde6f0;
    font-family: 'Lato', sans-serif;
    font-size: calc(14px + 0.3vw);
    line-height: 150%;
    padding: 10px;
    text-align: justify;
    justify-content: center;
}
#contentWrapper > .content.twocolumn > span{
    padding: 10px;
}

#contentWrapper > .content:not(.twocolumn) > span{
    align-items: center;
}


@media (max-width: 767px){
    #contentWrapper > .content{
        display: table;
    }

    #contentWrapper > .content > span{
        display: table-row;
        padding: 20px;
        border-left: 0px;
    }
    #contentWrapper > .content > div{
        display: table-row;
    }

    #contentWrapper > .content > div > img{
        width: 70%;
    }


    #contentWrapper > .content > span p{
        margin-top: calc(5px + 2%);
    }

    #contentWrapper > .content.twocolumn > span p{
        column-count: 1;
    }

    #contentWrapper > .content:not(.twocolumn) > span p{
        width: 100% !important;
    }

    .curr, .next{
        top: calc(70px + 10vw);
    }
}

.backlay{
    z-index: 150;
    position: absolute;
    right: 0px;
    top: calc(70px + 2vw);
    width: 35%;
    padding-bottom: 18%;
    background-color: black;
    opacity: 0.3;
    border-radius: 20px 0px 0px 20px;
}



